<html lang="en">
  <head>
    <title>COVID-19 data | {{ location }}</title>
    <link rel="stylesheet" href="uswds-2.5.1/css/uswds.min.css" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <link rel="stylesheet" type="text/css" href="states.css" />
  </head>
  <body>
    <div class="grid-container">
      <div class="grid-row">
      <div class="grid-col-3">
        <ul>
          <li><a href="index.html">Whole US</a></li>
        {{#all_states}}
          <li><a href="{{ short_name }}.html">{{ full_name }}</a></li>
        {{/all_states}}
        </ul>
      </div>
        <div class="grid-col-9">
          <h1 class="font-body-2xl">
            {{ location }} has had {{ total }} confirmed cases.
            <br />
            <small>
              That's about {{ proportion.count }} out of every
              {{ proportion.per }} people who we know are or have been infected.
            </small>
          </h1>

          <p class="font-body-md">
            The number of confirmed cases is recently growing at about
            <strong>{{ change_rate.rate }}%</strong> per day. That is doubling
            about every <strong>{{ change_rate.doubling }} days</strong>. At the
            current rate, the total number of confirmed cases will be about
            <strong>{{change_rate.seven_days}}</strong> in 7 days.
          </p>

          <p>
            The following chart shows the rate-of-change over time of different
            statistics. The <span class="chart-confirmed">blue line</span> shows
            the rate of change in the total confirmed infections. The
            <span class="chart-tests">orange line</span> shows the rate of
            change in the total number of tests administered. The
            <span class="chart-deaths">black line</span> shows the rate of
            change in the total number of deaths.
          </p>

          <img src="graphs/{{ short_name }}.png">

          {{#index}}
          <p class="font-body-md">
            <strong>{{ fastest_state.state }}</strong> has the fastest-growing
            rate of new infections at about
            <strong>{{ fastest_state.rate}}%</strong> per day. That is doubling
            about every <strong>{{ fastest_state.doubling }} days</strong>.
            {{ fastest_state.state }} currently has {{ fastest_state.today }}
            confirmed cases, but at the current rate, it will have about
            <strong>{{ fastest_state.seven_days }}</strong> in 7 days.
            <strong>{{ second_fastest.state }}</strong> has the second
            fastest-growing rate of new infections at about
            <strong>{{ second_fastest.rate}}%</strong> per day. That's doubling
            about every <strong>{{ second_fastest.doubling }} days</strong>, and
            will cause total cases to increase from {{ second_fastest.today }}
            to <strong>{{ second_fastest.seven_days }}</strong> in 7 days.
          </p>

          <table class="state_rate">
            <thead>
              <tr>
                <th>State</th>
                <th>Daily increase</th>
              </tr>
            </thead>
            <tbody>
              {{#other_states}}
              <tr>
                <td>{{ state }}</td>
                <td>{{ rate }}%</td>
              </tr>
              {{/other_states}}
            </tbody>
          </table>
          {{/index}}
        </div>
      </div>
    </div>

    <script src="uswds-2.5.1/js/uswds.min.js"></script>
  </body>
</html>