.AK, .AK * { fill: rgb(204, 204, 211); }
.AL, .AL * { fill: rgb(198, 198, 211); }
.AR, .AR * { fill: rgb(199, 199, 211); }
.AS, .AS * { fill: rgb(211, 211, 211); }
.AZ, .AZ * { fill: rgb(207, 207, 211); }
.CA, .CA * { fill: rgb(192, 192, 211); }
.CO, .CO * { fill: rgb(167, 167, 211); }
.CT, .CT * { fill: rgb(181, 181, 211); }
.DC, .DC * { fill: rgb(141, 141, 211); }
.DE, .DE * { fill: rgb(185, 185, 211); }
.FL, .FL * { fill: rgb(195, 195, 211); }
.GA, .GA * { fill: rgb(189, 189, 211); }
.GU, .GU * { fill: rgb(163, 163, 211); }
.HI, .HI * { fill: rgb(196, 196, 211); }
.IA, .IA * { fill: rgb(196, 196, 211); }
.ID, .ID * { fill: rgb(203, 203, 211); }
.IL, .IL * { fill: rgb(191, 191, 211); }
.IN, .IN * { fill: rgb(204, 204, 211); }
.KS, .KS * { fill: rgb(202, 202, 211); }
.KY, .KY * { fill: rgb(202, 202, 211); }
.LA, .LA * { fill: rgb(144, 144, 211); }
.MA, .MA * { fill: rgb(161, 161, 211); }
.MD, .MD * { fill: rgb(196, 196, 211); }
.ME, .ME * { fill: rgb(173, 173, 211); }
.MI, .MI * { fill: rgb(201, 201, 211); }
.MN, .MN * { fill: rgb(194, 194, 211); }
.MO, .MO * { fill: rgb(208, 208, 211); }
.MP, .MP * { fill: rgb(211, 211, 211); }
.MS, .MS * { fill: rgb(200, 200, 211); }
.MT, .MT * { fill: rgb(199, 199, 211); }
.NC, .NC * { fill: rgb(205, 205, 211); }
.ND, .ND * { fill: rgb(201, 201, 211); }
.NE, .NE * { fill: rgb(194, 194, 211); }
.NH, .NH * { fill: rgb(181, 181, 211); }
.NJ, .NJ * { fill: rgb(163, 163, 211); }
.NM, .NM * { fill: rgb(194, 194, 211); }
.NV, .NV * { fill: rgb(183, 183, 211); }
.NY, .NY * { fill: rgb(72, 72, 211); }
.OH, .OH * { fill: rgb(202, 202, 211); }
.OK, .OK * { fill: rgb(204, 204, 211); }
.OR, .OR * { fill: rgb(187, 187, 211); }
.PA, .PA * { fill: rgb(199, 199, 211); }
.PR, .PR * { fill: rgb(209, 209, 211); }
.RI, .RI * { fill: rgb(180, 180, 211); }
.SC, .SC * { fill: rgb(197, 197, 211); }
.SD, .SD * { fill: rgb(191, 191, 211); }
.TN, .TN * { fill: rgb(194, 194, 211); }
.TX, .TX * { fill: rgb(207, 207, 211); }
.UT, .UT * { fill: rgb(186, 186, 211); }
.VA, .VA * { fill: rgb(199, 199, 211); }
.VI, .VI * { fill: rgb(181, 181, 211); }
.VT, .VT * { fill: rgb(186, 186, 211); }
.WA, .WA * { fill: rgb(0, 0, 211); }
.WI, .WI * { fill: rgb(191, 191, 211); }
.WV, .WV * { fill: rgb(210, 210, 211); }
.WY, .WY * { fill: rgb(181, 181, 211); }
