.AK, .AK * { fill: rgb(211, 211, 211); }
.AL, .AL * { fill: rgb(211, 211, 211); }
.AR, .AR * { fill: rgb(211, 208, 208); }
.AZ, .AZ * { fill: rgb(211, 207, 207); }
.CA, .CA * { fill: rgb(211, 113, 113); }
.CO, .CO * { fill: rgb(211, 189, 189); }
.CT, .CT * { fill: rgb(211, 208, 208); }
.DC, .DC * { fill: rgb(211, 206, 206); }
.DE, .DE * { fill: rgb(211, 209, 209); }
.FL, .FL * { fill: rgb(211, 196, 196); }
.GA, .GA * { fill: rgb(211, 196, 196); }
.HI, .HI * { fill: rgb(211, 210, 210); }
.IA, .IA * { fill: rgb(211, 204, 204); }
.ID, .ID * { fill: rgb(211, 211, 211); }
.IL, .IL * { fill: rgb(211, 195, 195); }
.IN, .IN * { fill: rgb(211, 205, 205); }
.KS, .KS * { fill: rgb(211, 209, 209); }
.KY, .KY * { fill: rgb(211, 207, 207); }
.LA, .LA * { fill: rgb(211, 204, 204); }
.MA, .MA * { fill: rgb(211, 158, 158); }
.MD, .MD * { fill: rgb(211, 205, 205); }
.ME, .ME * { fill: rgb(211, 211, 211); }
.MI, .MI * { fill: rgb(211, 210, 210); }
.MN, .MN * { fill: rgb(211, 207, 207); }
.MO, .MO * { fill: rgb(211, 211, 211); }
.MS, .MS * { fill: rgb(211, 211, 211); }
.MT, .MT * { fill: rgb(211, 211, 211); }
.NC, .NC * { fill: rgb(211, 204, 204); }
.ND, .ND * { fill: rgb(211, 211, 211); }
.NE, .NE * { fill: rgb(211, 206, 206); }
.NH, .NH * { fill: rgb(211, 208, 208); }
.NJ, .NJ * { fill: rgb(211, 197, 197); }
.NM, .NM * { fill: rgb(211, 209, 209); }
.NV, .NV * { fill: rgb(211, 208, 208); }
.NY, .NY * { fill: rgb(211, 50, 50); }
.OH, .OH * { fill: rgb(211, 209, 209); }
.OK, .OK * { fill: rgb(211, 210, 210); }
.OR, .OR * { fill: rgb(211, 199, 199); }
.PA, .PA * { fill: rgb(211, 200, 200); }
.RI, .RI * { fill: rgb(211, 209, 209); }
.SC, .SC * { fill: rgb(211, 205, 205); }
.SD, .SD * { fill: rgb(211, 207, 207); }
.TN, .TN * { fill: rgb(211, 202, 202); }
.TX, .TX * { fill: rgb(211, 200, 200); }
.UT, .UT * { fill: rgb(211, 209, 209); }
.VA, .VA * { fill: rgb(211, 203, 203); }
.VT, .VT * { fill: rgb(211, 210, 210); }
.WA, .WA * { fill: rgb(211, 0, 0); }
.WI, .WI * { fill: rgb(211, 207, 207); }
.WV, .WV * { fill: rgb(211, 211, 211); }
.WY, .WY * { fill: rgb(211, 211, 211); }
