aside iframe {
  position: fixed;
  border: 0;
  top: 0;
  width: 20vw;
  height: 100vh;
  padding: 0;
}

header {
  margin-left: 20vw;
}

svg {
  margin-left: 20vw;
  width: 80vw;
}

.state, .state * { fill: rgb(211, 211, 211); }