div.usa-logo {
  line-height: 0.5;
}

aside {
  position: fixed;
  top: 0;
  left: 0;
  width: 20vw;
  height: 100vh;
  padding: 1em;
  overflow-y: auto;
}

aside h4 {
  margin: 0;
}

header {
  margin-left: 20vw;
}

svg {
  margin-left: 20vw;
  width: 80vw;
}

.state, .state * {
  cursor: pointer;
  fill: rgb(211, 211, 211);
}

.state:hover, .state > circle:hover {
  stroke: #999;
  stroke-width: 3;
}

.state.picked, .state.picked > circle {
  stroke: black;
  filter: drop-shadow( 0px 0px 15px rgba(0, 0, 0, .7));
}