h1 small {
  display: block;
  font-weight: normal;
  font-size: 0.65em;
  margin-top: 1em;
}

.chart-confirmed, .chart-tests, .chart-deaths {
  font-weight: bold;
}

.chart-confirmed {
  color: #0088FF;
}

.chart-tests {
  color: #FF8800;
}

.chart-deaths {
  color: black;
}

table.state_rate {
  margin: 0 auto;
}