h1 small {
  font-weight:normal;
}

.chart-confirmed, .chart-tests, .chart-deaths {
  font-weight: bold;
}

.chart-confirmed {
  color: #0088FF;
}

.chart-tests {
  color: #FF8800;
}

.chart-deaths {
  color: black;
}

table.state_rate {
  margin: 0 auto;
}